* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #161616;
}

.title {
    z-index: -999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 380px;
    -webkit-text-stroke: 2px rgb(87, 87, 87);
    color: transparent;
    filter: blur(1.3px);
}

.img {
    overflow: hidden;
    width: 30%;
    z-index: 100;
    position: absolute;
    top: -37%;
    left: 50%;
}

.img img {
    height: 100%;
    object-fit: cover;
}

.line1 {

    height: 100%;
    width: 0.5px;
    background-color: grey;
    position: absolute;
    left: 4%;
}

.line2 {
    z-index: 99999;
    height: 100%;
    width: 0.5px;
    background-color: grey;
    position: absolute;
    left: 50%;
}

.line3 {
    height: 100%;
    width: 0.5px;
    background-color: grey;
    position: absolute;
    left: 96%;
}

.box {
    z-index: 999999;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size:180px;
    color: white;
    letter-spacing: -1px;
}

.text1 h1,
.text4 h1 {
    color: red;
}

.nav {
    display: flex;
    padding-top: 35px;
    position: relative;
    z-index: 99999;
    justify-content: space-between;
    color: white;
}

.nav h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

.left {
    padding-left: 35px;
    gap: 35px;
    display: flex;
}

.left i {
    font-size: 15px;
    padding-left: 10px;
}

.right {
    padding-right: 42px;
    gap: 30px;
    display: flex;
}

.btn button {
    border: none;
    z-index: 9999;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 57%;
    right: 14%;
    gap: 5px;
    height: 45px;
    width: 190px;
    color: white;
    scale: 0.9;
    background-color: red;
    transition: all linear 0.3s;
}

.btn:hover button {
    cursor: pointer;
    scale: 1;
}